/* 
==============================================
CONTENT:    Project Name Here
AUTHOR:     Your Name Here
==============================================
TABLE OF CONTENTS:
0. Reset
1. Main Layout
2. Content
==============================================
*/
/* 0. Reset ================================= */
/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';
Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/
@use 'reset';
/* 1. Main Layout ================================= */
* {
    box-sizing: border-box;
}
body {
    background: rgb(75, 73, 84);
}
/* 2. Content ================================= */

.page {
    display: none;
    width: 80%;
    background-color: white;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0);
    transition: 0.5s 500ms;

    button{
        width: 30%;
        padding: 30px;
        border-radius: 50px;
        border-color: orange;
        background-color: black;
        color: white;
        cursor: pointer;
    }

    button:hover{
        color: orange;
    }

    h1 {
        font-family: sans-serif;
        font-weight: 700;
        font-size: 3em;

    }

    .next{
        position: absolute;
        top: 470px;
        left: 590px;
    }

    .prev{
        position: absolute;
        top: 470px;
    }

    .answers{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 85px;
    }

    .answer{
        background-color: cornflowerblue;
        border-radius: 20px;
        padding: 30px;
        margin: 15px;
        width: 45%;
    }

    .a{
        // display: flex;
    }

    &.page-welcome{
        

        button{
            top: 175px;
        }

        h1{
            margin-right: 100px;


        }

        







    }
    

    &.page-q1{
        button{
            top: 470px;
        }

        .selected{
            background-color: red;
            color: white;
            // font-size: 44px
        }




    }

    &.page-q2{
        button{
            top: 420px;
        }
    }

    &.page-q3{
        
    }

    &.page-q4{
        button{
            top: 425px;
        }
    }

    &.page-end{
        button{
            top: 145px;
            justify-content: center;
        }
    }

}

